{% extends 'base.html' %}

{% block title %}Reviews{% endblock %}

{% block content %}
    <h1>Reviews</h1>
    {% for review in review_list %}
        <div>
            <h3>{{ review.title }}</h3>
            <a href="{% url 'studybuddy_app:user.detail' review.author.id %}">
        {{ review.author.get_full_name }}
    </a>
            <p>{{ review.description }}</p>
            <a href="{% url 'studybuddy_app:meetup.detail' review.meetup.id %}">
        {{ review.meetup.title }}
    </a>
            <p>{{ review.date }}</p>
            <p>Rating: {{ review.rating }}</p>
            <p>Description: {{ review.review }}</p>
        </div>
    {% endfor %}
{% endblock %}
